<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>
        .pb-full {
            padding-bottom: 100%;
        }

        /* hide search icon on search focus */
        .search-bar:focus+.fa-search {
            display: none;
        }

        @media screen and (min-width: 768px) {
            .post:hover .overlay {
                display: block;
            }
        }
    </style>
</head>

<body>
    <!-- nav -->
    <nav class="border-b px-4 py-2 bg-white">
        <div class="flex flex-wrap items-center justify-between md:justify-around">
            <!-- logo -->
            <span style="font-size:1.5rem ; font-family: Arial, Helvetica, sans-serif;">GetSocial</span>

            <!-- search-->
           

            <div class="space-x-4">
                <a class="inline-block text-xl text-gray-600 px-2 py-1  font-semibold 
                             text-sm rounded" href="/home"><i class='fas fa-home'></i></a>
                <a class="inline-block  text-xl text-gray-600 font-semibold text-sm" href="/editProfile"><i
                        class="fa fa-pencil-square-o"></i></a>
                <a class="inline-block  text-xl text-gray-600 font-semibold text-sm" href="/about"><i
                        class='far fa-heart'></i></a>
                <a class="inline-block  text-xl text-gray-600 text-sm px-2 py-1  font-semibold 
                        text-sm rounded" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                <% if(loginuser.image !="" ){%>
                    <img class="inline-block w-6 h-6 object-cover rounded-full border-gray-600"
                        src="./Upload/<%= user.image %>">
                    <%} else{%>
                        <img class="inline-block w-6 h-6 object-cover rounded-full border-gray-600"
                            src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg">
                        <%} %>
            </div>
        </div>
    </nav>

    <main class="bg-gray-100 bg-opacity-25">

        <div class="lg:w-8/12 lg:mx-auto mb-8">

            <header class="flex flex-wrap items-center p-4 md:py-8">
                <div class="md:w-3/12 md:ml-16">
                    <!-- profile image -->
                    <% if(user.image !="" ){%>
                        <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                        border-2 border-pink-600 p-1" src="./upload/<%= user.image %>" alt="profile">
                        <%} else{%>
                            <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                            border-2 border-pink-600 p-1"
                                src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
                                alt="profile">
                            <%} %>
                </div>
                <!-- profile meta -->
                <div class="w-8/12 md:w-7/12 ml-4" id="item-1">
                    <div class="md:flex md:flex-wrap md:items-center mb-4">
                        <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
                            <%= user.username %>
                        </h2>

                        <!-- badge -->
                        <span class="inline-block fas fa-certificate fa-lg text-blue-500 
                                 relative mr-6 text-xl transform -translate-y-2" aria-hidden="true">
                            <i class="fas fa-check text-white text-xs absolute inset-x-0
                                 ml-1 mt-px"></i>
                        </span>

                        <!-- follow button -->
                        <!-- <button class="bg-blue-500 px-2 py-1 
                        text-white font-semibold text-sm rounded block text-center 
                        sm:inline-block block cursor-pointer follow-btn" data-frnd-id="<%= user._id %>"
                            data-following="true"></button> -->
                        <% var isFollowing=false; loginuser.following.forEach(function(follower) { if(user &&
                            follower._id.equals(user._id)) { isFollowing=true; return false; } }); if( isFollowing ) {
                            %>
                            <a class="bg-blue-500 px-2 py-1 
                                text-white font-semibold text-sm rounded block text-center 
                                sm:inline-block block cursor-pointer" id="btn"
                                onclick="unfollow('<%= user._id %>')">UnFollow</a>
                            <% } else { %>
                                <a class="bg-blue-500 px-2 py-1 
                                text-white font-semibold text-sm rounded block text-center 
                                sm:inline-block block cursor-pointer" id="btn"
                                    onclick="follow('<%= user._id %>')">Follow</a>
                                <% } %>
                                    <!-- post, following, followers list for medium screens -->
                    </div>
                    <ul class="hidden md:flex space-x-8 mb-4">
                        <li>
                            <span class="font-semibold">
                                <%= post.length %>
                            </span>
                            posts
                        </li>

                        <li>
                            <span class="font-semibold" id="follower">
                                <%= user.followers.length %>
                            </span>
                            followers
                        </li>
                        <li>
                            <span class="font-semibold">
                                <%= user.following.length %>
                            </span>
                            following
                        </li>
                    </ul>

                    <!-- user meta form medium screens -->
                    <div class="hidden md:block">
                        <h1 class="font-semibold">
                            <%= user.name %>
                        </h1>
                        <span>
                            <%= user.caption %>
                        </span>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                    </div>

                </div>

                <!-- user meta form small screens -->
                <div class="md:hidden text-sm my-2">
                    <h1 class="font-semibold">
                        <%= user.name %>
                    </h1>
                    <span>
                        <%= user.caption %>
                    </span>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                </div>

            </header>

            <!-- posts -->
            <div class="px-px md:px-3">

                <!-- user following for mobile only -->
                <ul class="flex md:hidden justify-around space-x-8 border-t 
                  text-center p-2 text-gray-600 leading-snug text-sm">
                    <li>
                        <span class="font-semibold text-gray-800 block">
                            <%= post.length %>
                        </span>
                        posts
                    </li>

                    <li>
                        <span class="font-semibold text-gray-800 block">
                            <%= user.followers.length %>
                        </span>
                        followers
                    </li>
                    <li>
                        <span class="font-semibold text-gray-800 block">
                            <%= user.following.length %>
                        </span>
                        following
                    </li>
                </ul>

                <!-- insta freatures -->
                <ul class="flex items-center justify-around md:justify-center space-x-12  
                      uppercase tracking-widest font-semibold text-xs text-gray-600
                      border-t">
                    <!-- posts tab is active -->
                    <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700">
                        <a class="inline-block p-3" href="#">
                            <i class="fas fa-th-large text-xl md:text-xs"></i>
                            <span class="hidden md:inline">post</span>
                        </a>
                    </li>
                    <li>
                        <a class="inline-block p-3" href="#">
                            <i class="far fa-square text-xl md:text-xs"></i>
                            <span class="hidden md:inline">igtv</span>
                        </a>
                    </li>
                    <li>
                        <a class="inline-block p-3" href="#">
                            <i class="fas fa-user border border-gray-500
                               px-1 pt-1 rounded text-xl md:text-xs"></i>
                            <span class="hidden md:inline">tagged</span>
                        </a>
                    </li>
                </ul>
                <!-- flexbox grid -->
                <div class="flex flex-wrap -mx-px md:-mx-3">
                    <% for(let i=0;i< post.length; i++){%>
                        <!-- column -->
                        <div class="w-1/3 p-px md:px-3">
                            <!-- post 1-->
                            <a href="#">
                                <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                                    <!-- post image-->
                                    <img class="w-full h-full absolute left-0 top-0 object-cover"
                                        src="./Upload/<%= post[i].img %>" alt="image">

                                    <i class="fas fa-square absolute right-0 top-0 m-1"></i>
                                    <!-- overlay-->
                                    <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                  left-0 top-0 hidden">
                                        <div class="flex justify-center items-center 
                                      space-x-4 h-full">
                                            <span class="p-2">
                                                <i class="fas fa-heart"></i>
                                                <%= post[i].like.length %>
                                            </span>

                                            <span class="p-2">
                                                <i class="fas fa-comment"></i>
                                                <%= post[i].comment.length %>
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <%} %>
                </div>
            </div>
        </div>
    </main>
    <script src="js/frndprofile.js"></script>
</body>

</html>